project_id = "tcriouzorxknubqqnvyj"

[functions.ai-insights]
verify_jwt = false

[functions.create-checkout]
verify_jwt = false

[functions.check-subscription]
verify_jwt = false

[functions.customer-portal]
verify_jwt = false
